<!-- Github Calendar widget -->
{{ $ := .root }}
{{ $page := .page }}

<!-- Include the library. -->
<script
  src="github-calendar/dist/github-calendar.min.js">
</script>



<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
<link
  rel="stylesheet"
  href="github-calendar/dist/github-calendar-responsive.css"
/>

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    <div class="row">
      <div class="col-12 d-none d-md-block p-0 m-0 ">
        <!-- Prepare a container for your calendar. -->
        <!-- <div class="github-calendar"> -->
            <!-- Loading stuff -->
            <!-- Loading the data just for you. -->
        <!-- </div> -->
        <div class="col py-2">
          <div class="card p-0 m-0">
            <div class="github-calendar card-body p-0 m-0">
                <img src="img/octocat-spinner.svg" class="octo-calendar mx-auto"/>
              <p class="spinner-text monospace">Crunching <a href="https://github.com/{{$page.Params.user}}">@{{$page.Params.user}}</a>'s contributions.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Github Cards -->
      <script>var count = 0;</script>
      <script id="repo-card"
      type="text/template"><div class="header"><a class="avatar" href="https://github.com/{login}"><img src="{avatar_url}&s=48"></a><strong class="name"><a href="https://github.com/{full_name}">{name}</a><sup class="language">{language}</sup></strong><span>{action}<a href="https://github.com/{login}">{login}</a></span><a class="button" href="https://github.com/{full_name}">Star</a></div><div class="content"><p>{description}{homepage}</p></div><div class="footer"><span class="status"><strong>{forks_count}</strong>Forks</span><span class="status"><strong>{watchers_count}</strong>Stars</span></div></script>
      <script src="github-cards/card.js"></script>
      <link rel="stylesheet" href="github-cards/card.css"></link>
      
      {{ if $page.Params.item }}
        {{ range $idx, $key := sort $page.Params.item ".order" "asc" }}
          <div class="col-12 col-lg-6 m-0 p-0 {{ if .hide_on_mobile }}d-none d-md-block{{end}}">
            <div class="col py-2">
              <div class="card p-0 m-0">
                <div id="repo-card-container-{{.repo}}" class="card-body m-0 p-0">
                  <img src="img/octocat-spinner.svg" class="octo-card mx-auto"/>
                </div>
                <script>
                  var user = {{$page.Params.user}};
                  var repo = {{.repo}};
                  count += 1; 
                  var identity = 'ghcard-' + user + '-' + count;
                  // console.log(user, repo, identity);
                  update_card(document, user, repo, identity, "repo-card-container-{{.repo}}", {{$page.Params.client_id}}, {{$page.Params.client_secret}});
                </script>
              </div>
            </div>
          </div>
        {{end}}
      {{end}}

    </div>
  
    <div class="see-all">
      <a href="https://github.com/conscienceli">
        See all repositories
        <i class="fas fa-angle-right"></i>
      </a>
    </div>

  </div>

</div>


<!-- Github-calendar -->
<script>
    GitHubCalendar(".github-calendar", {{$page.Params.user}}, { responsive: true });
</script>

<style type="text/css">
  .contrib-number{
    color: inherit!important;
    font-weight: inherit!important;
  }

  .calendar {
    font-family: inherit!important;
    /* background-color: white; */
  }

  /* @media screen and (max-width: 768px) {
    .calendar {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  } */

  .github-calendar .border {
    border: none!important;
  }

  .octo-calendar {
    height: 40%;
    width: 40%;
  }

  .octo-card {
    height: 35%;
    width: 35%;
  }

</style>