[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "static/github-calendar"]
	path = static/github-calendar
	url = https://github.com/Bloggify/github-calendar.git
